@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  /* fontFamily: "'M PLUS Rounded 1c', sans-serif", */
  font-family: 'M PLUS Rounded 1c', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display:flex;
  flex-direction: column;
  height:100vh;
  overflow: auto;
}
#__next{
  height:1%;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  position:relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  transition: 0.4s;
}

.anim-bg-x{
  animation: bg-x 7s ease-in-out infinite;
  animation-direction: alternate;
}

.vibrate {
  animation: vibrate 17s linear infinite both;
}
@keyframes vibrate{
  0%{
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  51%{
    transform: rotate(3deg);
  }
  51.5%{
    transform: rotate(-3deg);
  }
  52% {
    transform: rotate(3deg);
  }
  52.5%{
    transform: rotate(-3deg);
  }
  53% {
    transform: rotate(3deg);
  }
  53.5% {
    transform: rotate(-3deg);
  }
  54% {
    transform: rotate(3deg);
  }
  54.5% {
    transform: rotate(-3deg);
  }
  55% {
    transform: rotate(3deg);
  }
  55.5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes bg-x {
  0% {
    background-position: 0% 10%;
  }
  100% {
    background-position: 100% 10%;
  }
}

@keyframes windElement100 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement90 {
  0% {
    transform: translateX(100%);
  }

  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement80 {
  0% {
    transform: translateX(100%);
  }

  80% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement70 {
  0% {
    transform: translateX(100%);
  }

  70% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement60 {
  0% {
    transform: translateX(100%);
  }

  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement50 {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement40 {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement30 {
  0% {
    transform: translateX(100%);
  }

  30% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement20 {
  0% {
    transform: translateX(100%);
  }

  20% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes windElement10 {
  0% {
    transform: translateX(100%);
  }

  10% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes windBox100 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox90 {
  0% {
    transform: translateX(-100%);
  }

  90% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox80 {
  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox70 {
  0% {
    transform: translateX(-100%);
  }

  70% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox60 {
  0% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox50 {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox40 {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox30 {
  0% {
    transform: translateX(-100%);
  }

  30% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox20 {
  0% {
    transform: translateX(-100%);
  }

  20% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes windBox10 {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}
